@font-face {
    font-family: 'DoctorWho';
    src: url(../fonte/Doctor-Who.ttf)
}

@font-face {
    font-family: 'DoctorWhoRosto';
    src: url(../fonte/DOCWHO.TTF)
}

@font-face {
    font-family: 'Gallyfrey';
    src: url(../fonte/ws_simple_gallifreyan.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*
{
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.logo {
    width: 50px;
    display: flex;
}

.header {
    font-family: 'DoctorWho';
    color: black;
    background-color:  #001F3F;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 50px;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: 2px black solid;
}

.header li {
    padding-top: 10px;
    display: flex;
    list-style: none;
}

.banner {
    z-index: 1000;
   height: 700px;
}

.titulo {
    background-image: url(../icons/d5bff8fe4b2883131e873f1b6f5be391.gif);
    z-index: 100;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
    background-color: #1D6A96;
    font-family: 'Gallyfrey';
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.slider ul {
    position: relative;
    display: flex;
}

.titulo p {
    font-family: 'Rubik', sans-serif;
}

.titulo span {
    font-family: 'DoctorWhoRosto';
    font-size: 50px;
}


.mainContainer img {
    border-radius: 5px;
    margin-right: 20px;
}

.mainContainer {
    background-color: #000814;
    font-family: 'Rubik', sans-serif;
    color: white;
    padding-top: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    font-weight: bold;
}

.tituloZaqueu {
    background-color: #000814;
    font-family: 'Rubik', sans-serif;
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    font-weight: bold;
}

.zaqueu img {
    border-radius: 5px;
    margin-right: 20px;
    width: 300px;
}
.zaqueu {
    background-color: #000814;
    font-family: 'Rubik', sans-serif;
    color: white;
    padding-top: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 25px;
    font-weight: bold;
}


.input {

}

/* Footer */
footer {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    background-color: #111111;
    font-size: larger;
    height: fit-content;
}

footer img {
    width: 600px;
    padding-top: 89px;
    position: absolute;
}

footer menu {
    text-align: center;
    padding-top: 50px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-right: 40px;
    flex-direction: row;
}

footer menu li {
    color: white;
    margin: 10px;
}

footer form {
    margin: 10px;
}

.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.duvidas li {
    margin-bottom: 10px;
}

.duvidas input {
    margin-bottom: 10px;
}

li::marker {
    color: #012623;
}

footer form input {
    text-align: center;
    background-color: #012623;
    border: ridge white 1px;
    border-radius: 3px;
    padding: 5px 8px;
    color: white;
}

footer form button {
    cursor: pointer;
    border: ridge white 1px;
    border-style: hidden;
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: bolder;
    background-color: #0A8CBF;
}


.contatos li{
    margin-bottom: 15px;
}

.contatos div {
    display: flex;
    justify-content: space-between;
}
